@import "./font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #242742;
  --background: #36384d;
  --neutral: #ffffff;
}

body {
  font-family: "Roboto";
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  text-align: left;
  color: var(--primary);
}

p {
  text-align: left;
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
}

.main-content {
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.heading {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 24px;
}

.list {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    margin-bottom: 1.6rem;
  }
}

.final-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    color: var(--primary);
    text-align: left;
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }

  .labels {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      text-align: left;
      font-size: 12px;
      line-height: 150%;
      font-weight: bold;
      color: #ff6155;
      display: none;
    }
  }

  input {
    outline: none;
    border: 1px solid rgb(25, 24, 43, 25%);
    color: var(--primary);
    font-size: 16px;
    padding: 16px 0px 16px 24px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    background: none;
  }
  input::-webkit-input-placeholder {
    opacity: 0.5;
  }
  input[type="email"]:focus {
    border: 1px solid rgb(25, 24, 43, 100%);
  }
}

.img-container {
  width: 100%;

  img {
    width: 100%;
  }
}

.img-desktop {
  display: none;
}

button {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 40px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
}

.thank-you {
  position: relative;
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: center;
  gap: 40px;
  height: 100vh;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;

  span {
    font-weight: bold;
  }

  img {
    width: 64px;
    height: 64px;
  }

  button {
    position: absolute;
    bottom: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  main {
    flex-direction: row;
    background-color: var(--neutral);
    width: 928px;
    border-radius: 36px;
    height: 641px;
  }

  .main-content {
    margin-top: 96px;
    margin-bottom: 96px;
    margin-left: 64px;
  }
  .heading {
    margin-top: 0px;
  }

  .img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    margin: 24px 24px 24px auto;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: flex;
    width: 400px;
    height: 593px;
  }
  .list {
    img {
      margin-bottom: 0px;
    }
  }

  .thank-you {
    background-color: var(--neutral);
    width: 504px;
    height: 520px;
    border-radius: 36px;
    padding-left: 64px;
    padding-right: 64px;

    button {
      position: relative;
    }
  }
}
